body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://image.freepik.com/foto-gratis/papel-papiro-marron_53876-14519.jpg');
  background-size: cover;
  background-color: peru;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  color: saddlebrown;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(97, 56, 14); 
  z-index: 5;
}

a {
  font-size: 18px;
  color: saddlebrown;
}

.body-wrapper {
  padding: 5rem 3rem 5rem 3rem;
}

.card-styles {
  width: 16rem;
  height: 470px;
  background-color: rgb(205,133,63,0.30);
  border-color: saddlebrown;
}

.card-styles a {
  text-decoration: none;
}

.card-styles h5 {
  text-transform: capitalize;
  height: 80px
}

.profile-title {
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 20px;
	font-weight: 700;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(248, 244, 4, 0.4);
	position: relative;
	color: rgb(9, 85, 15);
}

.profile-title2 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 20px;
	font-weight: 700;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(248, 244, 4, 0.4);
	position: relative;
	color: rgb(9, 85, 15);
}

.user-wrapper {
  width: 400px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-wrapper-event {
  width: 400px;
  height: 300px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.user-wrapper-event .user-body p{
  font-size: 1.1rem;
}

.user-name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
  background-color: burlywood;
  color: rgba(97, 56, 14);
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 7%;
  padding-left: 2%; 
}

.user-name div {
  width: 50%
}

.user-body{
  background-color: rgba(97, 56, 14, 0.5);
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.user-info{
  width: 50%;
  height: 100%;
  color: orange;
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 5%;
  padding-left: 2%;
}

.user-avatar {
  width: 50%;
}

.user-avatar img{
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 100%;
  height: auto;
}

.user-profile-img-bronze {
  border: rgb(124, 62, 0) ridge 15px;
}

.user-profile-img-silver {
  border: silver ridge 15px;
}

.user-profile-img-gold {
  border: gold ridge 15px;
}

.profile-section-title {
  width: 100%;
  text-align: center;
}
.card-style {
  width: 12rem; height: 375px;
  background-color: rgb(205,133,63,0.30);
  border-color: saddlebrown;
}

.adding-game {
  margin-top: 25px;
  font-size: 1.2rem;
  text-align: center
}

.adding-game a {
  border: black solid 2px;
}

.comment-form {
  margin: 20px 13%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: brown solid 2px;
  border-radius: 1%;
  background-color: rgba(255, 127, 80, 0.582);
}

.pic-comment-form {
  margin: 10px 0;
}

.body-comment-form {
  width: 60%
}

.title-comment-form {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.rate-comment-form {
  width: 30%
}

.text-comment-form {
  width: 100%
}

.button-comment-form {
  width: 30%;
  margin: auto;
}

.comment-wrapper {
  margin: 20px 13%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: brown solid 2px;
  border-radius: 1%;
  background-color: rgba(255, 127, 80, 0.582);
}

.comment-picture img{
  width: 192px;
  height: 192px;
}

.comment-body {
  width: 80%;
}

.comment-username {
  font-size: 1.7rem;
  display: inline
}

.comment-description {  
  margin: 30px auto;
  font-size: 1.4rem;
  padding: 5px;
}

.comment-rate {
  float: right;
  margin-right: 30px;
  font-size: 1.7rem;
}

.profile-info-section {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-info-text {
  padding-left: 10px;
  font-size: 1.3rem;
}
.profile-info-text p{
  font-size: 1.8rem;
}

.sectionize {
  border-top: black dotted 3px;
  padding: 25px;
}

.first-column{
  width: 20%
}
.second-column{
  width: 50%;
  text-align: center
}
.third-column{
  width: 20%
}

.users-map {
  width: 100%;
  height: 400px;
  margin: auto;
}

.event-body-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
}

.event-body-card p{
  width: 100%;
}

.fluid-max-width {
  max-width: 1500px;
}

.event-detail-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  
}

.event-detail-info-image {
  width: 47%;
}
.event-detail-info-image img{
  width: 100%;
  height: auto;
  max-height: 700px;
}

.event-detail-info-text {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-detail-info-text p {
  font-size: 1.8em;
}

.strong {
  font-weight: 700;
}

.event-button {
  width: 100%;
  height: 70px;
  font-weight: 700;
  margin-top: 5px;
}

.full-button {
  padding-top: 16px;
  font-size: 1.4rem;
  height: 70px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.full-button-2 {
  display: none;
  padding-top: 16px;
  font-size: 1.4rem;
  height: 70px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.event-button-2 {
  display: none;
  margin: 30px 0;
  width: 100%;
  height: 70px;
  margin-top: 5px;
  font-weight: 700;
}

.event-map-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: space-between;
}

.event-description-wrapper {
  text-align: center;
  width: 47%;
}
.event-description-wrapper p {
  font-size: 1.2rem;
  text-align: justify
}

.map {
  width: 47%;
  height: 500px;
}

.event-participants-title {
  text-align: center;
}

.event-description-wrapper a {
  font-size: 1.3rem;
  font-weight: 700;
}

.auth-margin {
  margin-top: 60px;
}

@media only screen and (min-width: 1001px) and (max-width: 1310px) {
  .full-button {
    display: none;    
    padding-top: 16px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  .event-button {
    display: none;
    margin: 30px 0;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    font-weight: 700;
  }

  .full-button-2 {
    display: block;
    padding-top: 16px;
    font-size: 1.4rem;
    margin-top: 5px;
    letter-spacing: 1px;
  }

  .button-wrapper {
    width: 100%;
  }
  .event-button-2 {
    display: block;
    margin: 30px 0;
    width: 100%;
    margin-top: 5px;
    height: 70px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1000px) {
  .event-detail-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
  }

  .event-detail-info-image {
    width: 100%;
  }
  .event-detail-info-image img{
    width: 100%;
    height: auto;
    max-height: 450px
  }
  
  .event-detail-info-text {
    width: 100%;
    margin-top: 30px;
  }
  
  .event-detail-info-text p {
    font-size: 1.8em;
  }
  
  .event-button {
    margin: 30px 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    margin-top: 5px;
  }
  .event-button-2 {
    display: none;
    margin: 30px 0;
    margin-top: 5px;
    width: 100%;
    height: 70px;
    font-weight: 700;
  }

  .event-description-wrapper {
    text-align: center;
    width: 100%;
  }

  .map {
    width: 100%;
    height: 500px;
  }
}

.stats-map {
  width: auto !important;
  height: 500px !important;
  margin: auto;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  background-color: rgb(97, 56, 14);
  color: orange;
  text-align: left;
}

.footer span {
  vertical-align: -webkit-baseline-middle;
  padding-top: 10px;
}

.user-rating-box {
  border: 3px outset orange;
  background-color: peru;
  padding: 3px;
}


@media only screen and (min-width: 1458px) {
  .sort-button {
    display: block;
    margin: 50px auto 0;
    width: 115px;
  }
  
  .search-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .sort-games {
    padding: 60px;
  }

  .search-module{
    margin-right: 100px
  }
}

@media only screen and (max-width: 1457px) {
  .sort-games {
    width:100%;
    margin-top: 20px;
  }
  .search-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .sort-button {
    width: 115px;
    display: block;
  }
  .search-module{
    margin: 0 auto
  }
  .sort-select {
    margin: 0 auto;
  }

  .select-input{
    width: 25%;
    margin: 0 auto;
  }

}