<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background-color: rgb(205,133,63,0.30);">
  <a class="navbar-brand" style="color: saddlebrown;" href="/">
    <span style="font-size: 22px; color: ivory;">
      <i class="fas fa-dice d-inline-block align-top"></i>
    </span>
    <strong>BoardGamia</strong>
  </a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search game..." aria-label="Search" style="background-color: ivory">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <span style="font-size: 16px; color: saddlebrown;">
          <i class="fas fa-search d-inline-block align-center"></i>
        </span>
      </button>
  </form>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  </ul>
</nav>