<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background-color: rgba(97, 56, 14, 0.7);">
  <a class="navbar-brand" style="color: Orange;" href="/">
    <span style="font-size: 22px; color: ivory;">
      <i class="fas fa-dice d-inline-block align-top"></i>
    </span>
    <strong style="letter-spacing: 1px">BoardGamia</strong>
  </a>
  <a href="/users">
    <span style="font-size: 22px; color: ivory;">
      <i class="fas fa-users d-inline-block align-top"></i>
    </span>
  </a>
  <form class="form-inline my-2 my-lg-0" action = "/search" method = "GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search game..." aria-label="Search" style="background-color: ivory" name="search" value = "">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <span>
          <i class="fas fa-search d-inline-block align-center"></i>
        </span>
      </button>
  </form>
  <a {{#if session.email }} href="/users/{{session.id}}/settings" {{else}} href="/login"{{/if}}>
    <span style="font-size: 22px; color: ivory;">
      <i class="fas fa-cog d-inline-block align-top"></i>
    </span>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      {{#if session.email }}
      <a class="nav-link" style="font-size: 20px; color: ivory; letter-spacing: 1px" href="/logout">Logout</a>
      {{else}}
      <a class="nav-link" style="font-size: 20px; color: ivory; letter-spacing: 1px" href="/login">Login</a>
      {{/if}}
    </li>
    <li class="nav-item">
      <a class="nav-link" style="font-size: 20px; color: ivory; letter-spacing: 1px" href="/register">Register</a>
    </li>
  </ul>
</nav>