<div class="d-flex flex-wrap justify-content-center pt-5 pl-5 pr-5">
  
  <div>
    <form>
      <div class="form-row mb-2">
        <div class="col-auto">
          <label for="game-name">Game Name</label>
          <input type="text" class="form-control" placeholder="Name..." name="name" value="">
        </div>
        <div class="col-auto">
          <label for="year-published">Published Year</label>
          <input type="number" class="form-control" placeholder="Published year..." name="yearPublished" value="">
        </div>
        <div class="col-auto">
          <label for="min-player">Min Players</label>
          <input type="number" class="form-control" placeholder="Min players..." name="minPlayers" value="">
        </div>
        <div class="col-auto">
          <label for="max-player">Max Players</label>
          <input type="number" class="form-control" placeholder="Max players..." name="maxPlayers" value="">
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="col-auto">
          <label for="max-playtime">Max PlayTime</label>
          <input type="number" class="form-control" placeholder="Max playtime..." name="maxPlaytime" value="">
        </div>
        <div class="col-auto">
          <label for="rating">Rating</label>
          <input type="number" class="form-control" placeholder="Rating..." name="averageUserRating" value="">
        </div>
        <div class="col-auto">
          <label for="min-age">Min Age</label>
          <input type="number" class="form-control" placeholder="Min age..." name="minAge" value="">
        </div>
        <div class="col-auto">
          <label for="price">Price</label>
          <input type="text" class="form-control" placeholder="Price..." name="price" value="">
        </div>
      </div>
      <div class="form-row mt-4 mb-2 justify-content-md-center">
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block">Search Game</button>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex flex-wrap justify-content-center pt-4 pl-4 pr-4">
    {{#each games as |game|}}
      <a href="/games/{{game.id}}" class="card-link m-2">
        <div class="pb-4">
          <div class="card text-center card-style">
            <img src="{{game.imageURL}}" class="card-img-top" alt="{{game.name}}" height="250">
            <div class="card-body">
              <h6 class="card-title pt-3" style="text-transform: capitalize;"><strong>{{game.name}}</strong></h6>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
  
</div>
