<div class="d-flex flex-wrap justify-content-around pt-5 pl-5 pr-5">
  {{#each games as |game|}}
    <a href="/games/{{game.id}}" class="card-link m-2">
      <div class="pb-4">
        <div class="card text-center" style="width: 16rem; height: 450px; background-color: rgb(205,133,63,0.30); border-color: saddlebrown;">
          <img src="{{game.imageURL}}" class="card-img-top" alt="{{game.name}}" height="300">
          <div class="card-body">
            <h5 class="card-title pt-3" style="text-transform: capitalize;"><strong>{{game.name}}</strong></h5>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
</div>
