<div>
  <h4 class="text-uppercase text-center profile-title"><strong>users maps</strong></h4>
  <div id="map" class="map" data-id="yo"></div>
</div>

<div>
  <h4 class="text-uppercase text-center profile-title"><strong>statistics: users ages</strong></h4>
  <canvas class="stats-map" id="myChart"></canvas>
</div>

<div>
  <canvas class="stats-map" id="ownedChart"></canvas>
</div>

<div>
  <canvas class="stats-map" id="wishedChart"></canvas>
</div>

<div>
  <canvas class="stats-map" id="exchangedChart"></canvas>
</div>